@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  /* Your 5 custom colors */
  --color-bg-primary: #212124;
  --color-bg-secondary: #27272A;
  --color-accent: #A9E851;
  --color-text-primary: #f4f4f5;
  --color-text-secondary: #A1A1AA;
  --color-logo: #ffffff;
  --colot-text-dark:var(--color-bg-primary)

  --radius-DEFAULT: 16px;
}

.rounded-default {
  @apply rounded-2xl;
}@import "tailwindcss";

@layer base {
  body {
    @apply bg-bg-primary text-text-primary;
  }
}